<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Task List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5 mb-5">投稿一覧</h1>

    <%= form_with(scope: :task, url: tasks_path, method: :get, local: true, class: 'form-inline my-2 my-lg-0') do |form| %>
        <%= form.text_field :title, class: 'form-control mr-sm-2', placeholder: 'タイトル' %>
        <%= form.select :status, Task.statuses.keys.map { |s| [s, s] }, { include_blank: '選択してください' }, class: 'form-control mr-sm-2' %>
        <%= form.label :labels %>
          <% Label.all.each do |label| %>
            <%= check_box_tag 'task[label_ids][]', label.id, params.dig(:task, :label_ids)&.include?(label.id.to_s), id: "task_label_ids_#{label.id}" %>
            <%= label_tag "task_label_ids_#{label.id}", label.name %>
          <% end %>
        <%= form.submit "検索", class: "btn btn-outline-success my-2 my-sm-0" %>
    <% end %>

    <table class="table table-striped mt-5">
        <thead>
        <tr>
            <th><%= t('view.title') %></th>
            <th><%= t('view.content') %></th>
            <th><%= t('view.created_at') %></th>
            <th><%= t('view.deadline') %></th>
            <th><%= t('view.status') %></th>
            <th><%= t('enums.task.priority.#{task.priority}')%></th>
            <th><%= t('view.label') %></th>
            <th><%= t('view.user')%></th>
            <th>Actions</th>
        </tr>
        </thead>
    <tbody>
        <% @tasks.each do |task| %>
            <tr>
                <td><%= task.title %></td>
                <td class="task_row"><%= task.content %></td>
                <td><%= task.created_at %></td>
                <td><%= task.deadline %></td>
                <td><%= task.status %></td>
                <td><%= t('enums.task.priority.' + task.priority) %></td>
                <td><%= task.labels.map(&:name).join(", ") %></td>
                <td><%= task.user.name %></td>
                <td>
                    <%= link_to '詳細', task_path(task.id), class: 'btn btn-info' %>
                    <%= link_to '編集', edit_task_path(task.id), class: 'btn btn-primary' %>
                    <%= link_to '削除', task_path(task.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: 'btn btn-danger' %>
                </td>
            </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to '新規作成', new_task_path, class: 'btn btn-success mb-3' %>

    <%= link_to "終了期限でソートする", tasks_path(sort_expired: "true"), class: 'btn btn-warning mb-3' %>
    <%= link_to "優先順位でソートする", tasks_path(sort_priority: "true"), class: 'btn btn-info mb-3' %>

    <%= paginate @tasks, class: 'pagination' %>
</div>
</body>
</html>
