 <table class="table">
        <thead>
        <tr>
            <th><%= t('view.title') %></th>
            <th><%= t('view.content') %></th>
            <th><%= t('view.created_at') %></th>
            <th><%= t('view.deadline') %></th>
            <th><%= t('view.status') %></th>
            <th><%= t('enums.task.priority')%></th>
        </tr>
        </thead>
        <tbody>
        <% @tasks.each do |task| %>
            <tr>
                <td><%= task.title %></td>
                <td class="task_row"><%= task.content %></td>
                <td><%= task.created_at.strftime("%Y-%m-%d %H:%M") %></td>
                <td><%= task.deadline.strftime("%Y-%m-%d %H:%M") %></td>
                <td><%= task.status %></td>
                <td><%= task.priority %></td>  
            </tr>
        <% end %>
        </tbody>
    </table>